In [7]:
import json
import requests
import pandas as pd
import numpy as np
import tkinter as tk
import matplotlib.pyplot as plt
import warnings
from matplotlib.patches import Rectangle
from IPython.display import display, HTML
from scipy.ndimage import gaussian_filter
from tabulate import tabulate
from mplsoccer import VerticalPitch, FontManager, Pitch
from bs4 import BeautifulSoup
from datetime import datetime
from PIL import Image, ImageDraw, ImageFont
from urllib.request import urlopen

warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
def opciones(opc):
    if opc == '1':
        id = 47
    elif opc == '2':
        id = 42  
    elif opc == '3':
        id = 131  
    elif opc == '4':
        id = 87  
    elif opc == '5':
        id = 54  
    elif opc == '6':
        id = 55
    elif opc == '7':
        id = 73
    elif opc == '8':
        id = 10216
    else:
        print('Elija otra opción :v')
    return id

In [3]:
print('---------------------------------------------')
print('|            Seleccione una opción          |')
print('---------------------------------------------')
print('|            1. Premier League              |')
print('|            2. Champions League            |')
print('|            3. Eredivisie                  |')
print('|            4. La Liga                     |')
print('|            5. Bundesliga                  |')
print('|            6. Serie A                     |')
print('|            7. Europa League               |')
print('|            8. Europa Conference League    |')
print('--------------------------------------------|')
opc = input('Ingrese una opción: ')

opciones_ids = {
    '1': 47,
    '2': 42,
    '3': 57,  
    '4': 87,
    '5': 54,
    '6': 55,
    '7': 73,
    '8': 10216
}

if opc in opciones_ids:
    id = opciones_ids[opc]
    print("ID seleccionado:", id)
else:
    print("Opción no válida")

if id:
    # scrapear datos
    url = f'https://www.fotmob.com/api/leagues?id={id}'
    r = requests.get(url)
    json_data = r.json()

---------------------------------------------
|            Seleccione una opción          |
---------------------------------------------
|            1. Premier League              |
|            2. Champions League            |
|            3. Liga 1                      |
|            4. La Liga                     |
|            5. Bundesliga                  |
|            6. Serie A                     |
|            7. Europa League               |
|            8. Europa Conference League    |
--------------------------------------------|
ID seleccionado: 47

## Tabla de posiciones

In [4]:
data = json_data['overview']['table'][0]['data']['table']['all']
datos = []
for x in data:
    datos_equipo = {
        'idx': x['idx'],
        'name': x['name'],
        'match': x['played'], 
        'wins': x['wins'],
        'draws': x['draws'],
        'lost': x['losses'],
        'goals': x['scoresStr'],
        'difference': x['goalConDiff'],
        'pts': x['pts']
    }

    datos.append(datos_equipo)

print(datos)

[{'idx': 1, 'name': 'Liverpool', 'match': 27, 'wins': 19, 'draws': 6, 'lost': 2, 'goals': '64-25', 'difference': 39, 'pts': 63}, {'idx': 2, 'name': 'Manchester City', 'match': 27, 'wins': 19, 'draws': 5, 'lost': 3, 'goals': '62-27', 'difference': 35, 'pts': 62}, {'idx': 3, 'name': 'Arsenal', 'match': 26, 'wins': 18, 'draws': 4, 'lost': 4, 'goals': '62-23', 'difference': 39, 'pts': 58}, {'idx': 4, 'name': 'Aston Villa', 'match': 27, 'wins': 17, 'draws': 4, 'lost': 6, 'goals': '59-37', 'difference': 22, 'pts': 55}, {'idx': 5, 'name': 'Tottenham Hotspur', 'match': 26, 'wins': 15, 'draws': 5, 'lost': 6, 'goals': '55-39', 'difference': 16, 'pts': 50}, {'idx': 6, 'name': 'Manchester United', 'match': 27, 'wins': 14, 'draws': 2, 'lost': 11, 'goals': '37-39', 'difference': -2, 'pts': 44}, {'idx': 7, 'name': 'West Ham United', 'match': 27, 'wins': 12, 'draws': 6, 'lost': 9, 'goals': '43-47', 'difference': -4, 'pts': 42}, {'idx': 8, 'name': 'Newcastle United', 'match': 27, 'wins': 12, 'draws': 4, 'lost': 11, 'goals': '57-45', 'difference': 12, 'pts': 40}, {'idx': 9, 'name': 'Brighton & Hove Albion', 'match': 27, 'wins': 10, 'draws': 9, 'lost': 8, 'goals': '49-44', 'difference': 5, 'pts': 39}, {'idx': 10, 'name': 'Wolverhampton Wanderers', 'match': 27, 'wins': 11, 'draws': 5, 'lost': 11, 'goals': '40-43', 'difference': -3, 'pts': 38}, {'idx': 11, 'name': 'Chelsea', 'match': 26, 'wins': 10, 'draws': 6, 'lost': 10, 'goals': '44-43', 'difference': 1, 'pts': 36}, {'idx': 12, 'name': 'Fulham', 'match': 27, 'wins': 10, 'draws': 5, 'lost': 12, 'goals': '39-42', 'difference': -3, 'pts': 35}, {'idx': 13, 'name': 'AFC Bournemouth', 'match': 26, 'wins': 8, 'draws': 7, 'lost': 11, 'goals': '35-47', 'difference': -12, 'pts': 31}, {'idx': 14, 'name': 'Crystal Palace', 'match': 27, 'wins': 7, 'draws': 7, 'lost': 13, 'goals': '32-47', 'difference': -15, 'pts': 28}, {'idx': 15, 'name': 'Brentford', 'match': 27, 'wins': 7, 'draws': 5, 'lost': 15, 'goals': '39-50', 'difference': -11, 'pts': 26}, {'idx': 16, 'name': 'Everton', 'match': 27, 'wins': 8, 'draws': 7, 'lost': 12, 'goals': '29-37', 'difference': -8, 'pts': 25}, {'idx': 17, 'name': 'Nottingham Forest', 'match': 27, 'wins': 6, 'draws': 6, 'lost': 15, 'goals': '34-49', 'difference': -15, 'pts': 24}, {'idx': 18, 'name': 'Luton Town', 'match': 26, 'wins': 5, 'draws': 5, 'lost': 16, 'goals': '37-54', 'difference': -17, 'pts': 20}, {'idx': 19, 'name': 'Burnley', 'match': 27, 'wins': 3, 'draws': 4, 'lost': 20, 'goals': '25-60', 'difference': -35, 'pts': 13}, {'idx': 20, 'name': 'Sheffield United', 'match': 26, 'wins': 3, 'draws': 4, 'lost': 19, 'goals': '22-66', 'difference': -44, 'pts': 13}]

In [104]:
datos_filtrados = [[equipo['idx'], equipo['name'], equipo['match'], equipo['wins'], equipo['draws'], equipo['lost'], equipo['goals'], equipo['difference'], equipo['pts']] for equipo in datos]

In [105]:
headers = json_data['overview']['table'][0]['tableHeader']['staticTableHeaders']

# table = tabulate(datos_filtrados, tablefmt="jyml", headers=headers)
table = tabulate(datos_filtrados, tablefmt="html", headers=headers, numalign='center')

In [106]:
with open('tablas/premier.html', 'w') as f:
    f.write(HTML(table).data)

In [107]:
datos_home = []

data_home = json_data['overview']['table'][0]['data']['table']['home']
for y in data_home:
    datos_equipo_home = {
        'idx': y['idx'],
        'name': y['name'],
        'match': y['played'], 
        'wins': y['wins'],
        'draws': y['draws'],
        'lost': y['losses'],
        'goals': y['scoresStr'],
        'difference': y['goalConDiff'],
        'pts': y['pts']
    }
    datos_home.append(datos_equipo_home)
print(datos_home)

[{'idx': 1, 'name': 'Liverpool', 'match': 13, 'wins': 11, 'draws': 2, 'lost': 0, 'goals': '37-11', 'difference': 26, 'pts': 35}, {'idx': 2, 'name': 'Manchester City', 'match': 14, 'wins': 10, 'draws': 4, 'lost': 0, 'goals': '34-12', 'difference': 22, 'pts': 34}, {'idx': 3, 'name': 'Arsenal', 'match': 13, 'wins': 10, 'draws': 2, 'lost': 1, 'goals': '34-12', 'difference': 22, 'pts': 32}, {'idx': 4, 'name': 'Aston Villa', 'match': 13, 'wins': 10, 'draws': 1, 'lost': 2, 'goals': '35-15', 'difference': 20, 'pts': 31}, {'idx': 5, 'name': 'Tottenham Hotspur', 'match': 14, 'wins': 10, 'draws': 0, 'lost': 4, 'goals': '29-19', 'difference': 10, 'pts': 30}, {'idx': 6, 'name': 'Newcastle United', 'match': 14, 'wins': 9, 'draws': 2, 'lost': 3, 'goals': '34-16', 'difference': 18, 'pts': 29}, {'idx': 7, 'name': 'Fulham', 'match': 14, 'wins': 8, 'draws': 1, 'lost': 5, 'goals': '26-15', 'difference': 11, 'pts': 25}, {'idx': 8, 'name': 'Brighton & Hove Albion', 'match': 13, 'wins': 6, 'draws': 6, 'lost': 1, 'goals': '27-16', 'difference': 11, 'pts': 24}, {'idx': 9, 'name': 'West Ham United', 'match': 13, 'wins': 6, 'draws': 4, 'lost': 3, 'goals': '22-19', 'difference': 3, 'pts': 22}, {'idx': 10, 'name': 'Manchester United', 'match': 13, 'wins': 7, 'draws': 1, 'lost': 5, 'goals': '19-20', 'difference': -1, 'pts': 22}, {'idx': 11, 'name': 'Wolverhampton Wanderers', 'match': 13, 'wins': 6, 'draws': 3, 'lost': 4, 'goals': '20-20', 'difference': 0, 'pts': 21}, {'idx': 12, 'name': 'Chelsea', 'match': 12, 'wins': 5, 'draws': 3, 'lost': 4, 'goals': '20-18', 'difference': 2, 'pts': 18}, {'idx': 13, 'name': 'Brentford', 'match': 14, 'wins': 4, 'draws': 4, 'lost': 6, 'goals': '24-29', 'difference': -5, 'pts': 16}, {'idx': 14, 'name': 'Crystal Palace', 'match': 13, 'wins': 4, 'draws': 3, 'lost': 6, 'goals': '18-19', 'difference': -1, 'pts': 15}, {'idx': 15, 'name': 'Nottingham Forest', 'match': 14, 'wins': 4, 'draws': 3, 'lost': 7, 'goals': '19-21', 'difference': -2, 'pts': 15}, {'idx': 16, 'name': 'Everton', 'match': 14, 'wins': 3, 'draws': 4, 'lost': 7, 'goals': '15-18', 'difference': -3, 'pts': 13}, {'idx': 17, 'name': 'AFC Bournemouth', 'match': 12, 'wins': 3, 'draws': 4, 'lost': 5, 'goals': '12-18', 'difference': -6, 'pts': 13}, {'idx': 18, 'name': 'Luton Town', 'match': 14, 'wins': 3, 'draws': 2, 'lost': 9, 'goals': '21-25', 'difference': -4, 'pts': 11}, {'idx': 19, 'name': 'Sheffield United', 'match': 13, 'wins': 2, 'draws': 2, 'lost': 9, 'goals': '12-36', 'difference': -24, 'pts': 8}, {'idx': 20, 'name': 'Burnley', 'match': 14, 'wins': 1, 'draws': 2, 'lost': 11, 'goals': '13-34', 'difference': -21, 'pts': 5}]

In [108]:
datos_away = []

data_away = json_data['overview']['table'][0]['data']['table']['away']
for y in data_away:
    datos_equipo_away = {
        'idx': y['idx'],
        'name': y['name'],
        'match': y['played'], 
        'wins': y['wins'],
        'draws': y['draws'],
        'lost': y['losses'],
        'goals': y['scoresStr'],
        'difference': y['goalConDiff'],
        'pts': y['pts']
    }
    datos_away.append(datos_equipo_away)
print(datos_away)

[{'idx': 1, 'name': 'Manchester City', 'match': 13, 'wins': 9, 'draws': 1, 'lost': 3, 'goals': '28-15', 'difference': 13, 'pts': 28}, {'idx': 2, 'name': 'Liverpool', 'match': 14, 'wins': 8, 'draws': 4, 'lost': 2, 'goals': '27-14', 'difference': 13, 'pts': 28}, {'idx': 3, 'name': 'Arsenal', 'match': 13, 'wins': 8, 'draws': 2, 'lost': 3, 'goals': '28-11', 'difference': 17, 'pts': 26}, {'idx': 4, 'name': 'Aston Villa', 'match': 14, 'wins': 7, 'draws': 3, 'lost': 4, 'goals': '24-22', 'difference': 2, 'pts': 24}, {'idx': 5, 'name': 'Manchester United', 'match': 14, 'wins': 7, 'draws': 1, 'lost': 6, 'goals': '18-19', 'difference': -1, 'pts': 22}, {'idx': 6, 'name': 'Tottenham Hotspur', 'match': 12, 'wins': 5, 'draws': 5, 'lost': 2, 'goals': '26-20', 'difference': 6, 'pts': 20}, {'idx': 7, 'name': 'West Ham United', 'match': 14, 'wins': 6, 'draws': 2, 'lost': 6, 'goals': '21-28', 'difference': -7, 'pts': 20}, {'idx': 8, 'name': 'Chelsea', 'match': 14, 'wins': 5, 'draws': 3, 'lost': 6, 'goals': '24-25', 'difference': -1, 'pts': 18}, {'idx': 9, 'name': 'AFC Bournemouth', 'match': 14, 'wins': 5, 'draws': 3, 'lost': 6, 'goals': '23-29', 'difference': -6, 'pts': 18}, {'idx': 10, 'name': 'Wolverhampton Wanderers', 'match': 14, 'wins': 5, 'draws': 2, 'lost': 7, 'goals': '20-23', 'difference': -3, 'pts': 17}, {'idx': 11, 'name': 'Brighton & Hove Albion', 'match': 14, 'wins': 4, 'draws': 3, 'lost': 7, 'goals': '22-28', 'difference': -6, 'pts': 15}, {'idx': 12, 'name': 'Crystal Palace', 'match': 14, 'wins': 3, 'draws': 4, 'lost': 7, 'goals': '14-28', 'difference': -14, 'pts': 13}, {'idx': 13, 'name': 'Everton', 'match': 13, 'wins': 5, 'draws': 3, 'lost': 5, 'goals': '14-19', 'difference': -5, 'pts': 12}, {'idx': 14, 'name': 'Newcastle United', 'match': 13, 'wins': 3, 'draws': 2, 'lost': 8, 'goals': '23-29', 'difference': -6, 'pts': 11}, {'idx': 15, 'name': 'Brentford', 'match': 13, 'wins': 3, 'draws': 1, 'lost': 9, 'goals': '15-21', 'difference': -6, 'pts': 10}, {'idx': 16, 'name': 'Fulham', 'match': 13, 'wins': 2, 'draws': 4, 'lost': 7, 'goals': '13-27', 'difference': -14, 'pts': 10}, {'idx': 17, 'name': 'Luton Town', 'match': 12, 'wins': 2, 'draws': 3, 'lost': 7, 'goals': '16-29', 'difference': -13, 'pts': 9}, {'idx': 18, 'name': 'Nottingham Forest', 'match': 13, 'wins': 2, 'draws': 3, 'lost': 8, 'goals': '15-28', 'difference': -13, 'pts': 9}, {'idx': 19, 'name': 'Burnley', 'match': 13, 'wins': 2, 'draws': 2, 'lost': 9, 'goals': '12-26', 'difference': -14, 'pts': 8}, {'idx': 20, 'name': 'Sheffield United', 'match': 13, 'wins': 1, 'draws': 2, 'lost': 10, 'goals': '10-30', 'difference': -20, 'pts': 5}]

tablas de posicion de la premier league

In [118]:
df_home = pd.DataFrame(datos_home)
df_away = pd.DataFrame(datos_away)
df_home.to_csv('../csv/partidos/premier/df_home.csv')
df_away.to_csv('../csv/partidos/premier/df_away.csv')

## Buscar temporadas

In [ ]:
seasons = json_data['stats']['seasonsWithLinks']
data = json_data['stats']['seasonStatLinks']

df = pd.DataFrame(data)
df = df[['Name', 'RelativePath', 'League', 'TournamentId', 'TotwRoundsLink']]
df.reset_index(inplace=True, drop=True)
df.to_csv(f'csv/partidos/premier/seasons_premier.csv')

In [67]:
df = df[df['Name'].str.contains('2022')]
df

,Name,RelativePath,League,TournamentId,TotwRoundsLink
1,2022/2023,stats/47/season/17664/topstats.json,Premier League,17664,https://pub.fotmob.com/prod/db/api/v2/team-of-...
2,2021/2022,stats/47/season/16390/topstats.json,Premier League,16390,https://pub.fotmob.com/prod/db/api/v2/team-of-...

In [120]:
headers = {
    'authority': 'api.sofascore.com',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'cache-control': 'max-age=0',
    'dnt': '1',
    'if-none-match': 'W/"4bebed6144"',
    'origin': 'https://www.sofascore.com',
    'referer': 'https://www.sofascore.com/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}

In [124]:
url = 'https://www.sofascore.com/tournament/football/england/premier-league/17'

r = requests.get(url, headers=headers)

html = r.text

soup = BeautifulSoup(html, 'html.parser')

json_fotmob = json.loads(soup.find('script', attrs={'id':'__NEXT_DATA__'}).contents[0])

In [137]:
json_fotmob.keys()
json_fotmob['props'].keys()
json_fotmob['props']['pageProps'].keys()
json_fotmob['props']['pageProps']['info']

{'goals': 864,
 'homeTeamWins': 122,
 'awayTeamWins': 92,
 'draws': 53,
 'yellowCards': 1214,
 'redCards': 47,
 'newcomersUpperDivision': [],
 'newcomersLowerDivision': [{'name': 'Burnley',
   'slug': 'burnley',
   'shortName': 'Burnley',
   'gender': 'M',
   'sport': {'name': 'Football', 'slug': 'football', 'id': 1},
   'userCount': 122560,
   'nameCode': 'BUR',
   'disabled': False,
   'national': False,
   'type': 0,
   'id': 6,
   'teamColors': {'primary': '#81204c',
    'secondary': '#8fd2f4',
    'text': '#8fd2f4'},
   'fieldTranslations': {'nameTranslation': {'ar': 'بيرنلي'},
    'shortNameTranslation': {}}},
  {'name': 'Sheffield United',
   'slug': 'sheffield-united',
   'shortName': 'Sheffield Utd',
   'gender': 'M',
   'sport': {'name': 'Football', 'slug': 'football', 'id': 1},
   'userCount': 94886,
   'nameCode': 'SHU',
   'disabled': False,
   'national': False,
   'type': 0,
   'id': 15,
   'teamColors': {'primary': '#ffffff',
    'secondary': '#ff0000',
    'text': '#ff0000'},
   'fieldTranslations': {'nameTranslation': {'ar': 'شيفيلد يونايتد'},
    'shortNameTranslation': {}}},
  {'name': 'Luton Town',
   'slug': 'luton-town',
   'shortName': 'Luton',
   'gender': 'M',
   'sport': {'name': 'Football', 'slug': 'football', 'id': 1},
   'userCount': 103603,
   'nameCode': 'LUT',
   'disabled': False,
   'national': False,
   'type': 0,
   'id': 72,
   'teamColors': {'primary': '#ff3300',
    'secondary': '#000033',
    'text': '#000033'},
   'fieldTranslations': {'nameTranslation': {'ar': 'لوتون تاون'},
    'shortNameTranslation': {}}}],
 'newcomersOther': [],
 'numberOfCompetitors': 20,
 'id': 28314,
 'hostCountries': []}

## Buscar partidos

In [62]:
data = json['matches']['allMatches']

In [63]:
df = pd.DataFrame(data)
df = df[['round', 'pageUrl', 'id']]
df.reset_index(inplace=True, drop=True)
df.to_csv(f'csv/partidos/premier/match_premier.csv')

In [64]:
df = df[df['pageUrl'].str.contains('arsenal')]
df

     round                                            pageUrl       id
1        1  /matches/arsenal-vs-nottingham-forest/3bf4p3#4...  4193451
18       2  /matches/arsenal-vs-crystal-palace/36ytc8#4193471  4193471
21       3          /matches/arsenal-vs-fulham/37l643#4193481  4193481
38       4  /matches/arsenal-vs-manchester-united/3c3mu0#4...  4193490
47       5         /matches/everton-vs-arsenal/2ttfpg#4193502  4193502
54       6  /matches/tottenham-hotspur-vs-arsenal/2sx06r#4...  4193510
60       7  /matches/afc-bournemouth-vs-arsenal/2txefx#419...  4193520
79       8  /matches/manchester-city-vs-arsenal/2rhvvi#419...  4193530
86       9         /matches/chelsea-vs-arsenal/2rhhrp#4193543  4193543
93      10  /matches/sheffield-united-vs-arsenal/2tp2sc#41...  4193551
106     11  /matches/arsenal-vs-newcastle-united/3c42by#41...  4193566
111     12         /matches/burnley-vs-arsenal/2omsup#4193571  4193571
126     13       /matches/arsenal-vs-brentford/389pak#4193651  4193651
130     14  /matches/wolverhampton-wanderers-vs-arsenal/2t...  4193662
141     15      /matches/luton-town-vs-arsenal/2qawvf#4193675  4193675
155     16     /matches/arsenal-vs-aston-villa/3c06vg#4193681  4193681
166     17  /matches/arsenal-vs-brighton-hove-albion/3bfk5...  4193692
177     18       /matches/liverpool-vs-arsenal/2tmaz7#4193704  4193704
188     19  /matches/west-ham-united-vs-arsenal/2tnw09#419...  4193712
195     20          /matches/arsenal-vs-fulham/37l643#4193723  4193723
204     21  /matches/arsenal-vs-crystal-palace/36ytc8#4193732  4193732
209     22  /matches/arsenal-vs-nottingham-forest/3bf4p3#4...  4193744
227     23       /matches/liverpool-vs-arsenal/2tmaz7#4193752  4193752
236     24  /matches/west-ham-united-vs-arsenal/2tnw09#419...  4193769
240     25         /matches/burnley-vs-arsenal/2omsup#4193772  4193772
257     26  /matches/arsenal-vs-newcastle-united/3c42by#41...  4193782
269     27  /matches/sheffield-united-vs-arsenal/2tp2sc#41...  4193799
274     28       /matches/arsenal-vs-brentford/389pak#4193802  4193802
281     29         /matches/chelsea-vs-arsenal/2rhhrp#4193811  4193811
300     30  /matches/manchester-city-vs-arsenal/2rhvvi#419...  4193826
302     31      /matches/luton-town-vs-arsenal/2qawvf#4193832  4193832
312     32  /matches/arsenal-vs-brighton-hove-albion/3bfk5...  4193842
322     33     /matches/arsenal-vs-aston-villa/3c06vg#4193852  4193852
340     34  /matches/wolverhampton-wanderers-vs-arsenal/2t...  4193870
348     35  /matches/tottenham-hotspur-vs-arsenal/2sx06r#4...  4193878
351     36  /matches/afc-bournemouth-vs-arsenal/2txefx#419...  4193881
365     37  /matches/arsenal-vs-manchester-united/3c3mu0#4...  4193895
371     38         /matches/everton-vs-arsenal/2ttfpg#4193901  4193901

In [24]:
home_colors = ['royalblue', 'gold']
away_colors = ['skyblue', 'lightyellow']
win_color = 'green'
loss_color = 'red'